<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="AlbumSoap" />
        <binding name="ArtistSoap" />
        <binding name="CatalogSoap" />
        <binding name="PlayerSoap" />
        <binding name="PlaylistSoap" />
        <binding name="PlaylistSongSoap" />
        <binding name="SongSoap" />
        <binding name="TracklistSoap" />
        <binding name="UserSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wsalbumbytesmusic.azurewebsites.net/Album.asmx"
        binding="basicHttpBinding" bindingConfiguration="AlbumSoap"
        contract="ServiceReferenceAlbum.AlbumSoap" name="AlbumSoap" />
      <endpoint address="http://wsartistbytesmusic.azurewebsites.net/Artist.asmx"
        binding="basicHttpBinding" bindingConfiguration="ArtistSoap"
        contract="ServiceReferenceArtist.ArtistSoap" name="ArtistSoap" />
      <endpoint address="http://wscatalogbytesmusic.azurewebsites.net/Catalog.asmx"
        binding="basicHttpBinding" bindingConfiguration="CatalogSoap"
        contract="ServiceReferenceCatalog.CatalogSoap" name="CatalogSoap" />
      <endpoint address="http://wsartistbytesmusic.azurewebsites.net/Player.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlayerSoap"
        contract="ServiceReferencePlayer.PlayerSoap" name="PlayerSoap" />
      <endpoint address="http://wsplaylistbytesmusic.azurewebsites.net/Playlist.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlaylistSoap"
        contract="ServiceReferencePlaylist.PlaylistSoap" name="PlaylistSoap" />
      <endpoint address="http://wsplaylistbytesmusic.azurewebsites.net/PlaylistSong.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlaylistSongSoap"
        contract="ServiceReferencePlaylistSong.PlaylistSongSoap" name="PlaylistSongSoap" />
      <endpoint address="http://wssongbytesmusic.azurewebsites.net/Song.asmx"
        binding="basicHttpBinding" bindingConfiguration="SongSoap" contract="ServiceReferenceSong.SongSoap"
        name="SongSoap" />
      <endpoint address="http://wsalbumbytesmusic.azurewebsites.net/Tracklist.asmx"
        binding="basicHttpBinding" bindingConfiguration="TracklistSoap"
        contract="ServiceReferenceTracklist.TracklistSoap" name="TracklistSoap" />
      <endpoint address="http://wsuserbytesmusic.azurewebsites.net/User.asmx"
        binding="basicHttpBinding" bindingConfiguration="UserSoap" contract="ServiceReferenceUser.UserSoap"
        name="UserSoap" />
    </client>
  </system.serviceModel>
</configuration>