<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--50MB=50MB*1024KB*1024B-->
    <add key="maxSongLength" value="52428800"/>
    <add key="albumImagePath" value="~/albumImages/"/>
    <add key="artistImagePath" value="~/artistImages/"/>
    <add key="userPhotoPath" value="~/userImages/"/>
    <add key="songFolderPath" value="../songFiles/"/>
    <add key="playlistFolderPath" value="~/playlistImages/"/>
    <!--<add key="apiGateway" value="http://20.88.165.133:80/gwbytesmusic"/>-->
    <add key="apiGateway" value="http://localhost:5217/gwbytesmusic"/>


  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxRequestLength="51200" targetFramework="4.7.2" /><!--50MB to KB-->
    <authentication mode="Forms">
      <forms loginUrl="~/login" name=".ASPXFORMSAUTH" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <location path="~/login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="User/RegisterUser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="songFiles">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="51200" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AlbumSoap" />
        <binding name="ArtistSoap" />
        <binding name="CatalogSoap" />
        <binding name="PlayerSoap" />
        <binding name="PlaylistSoap" />
        <binding name="PlaylistSongSoap" />
        <binding name="SongSoap" />
        <binding name="TracklistSoap" />
        <binding name="UserSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WSAlbumBytesMusic/Album.asmx"
        binding="basicHttpBinding" bindingConfiguration="AlbumSoap"
        contract="ServiceReferenceAlbum.AlbumSoap" name="AlbumSoap" />
      <endpoint address="http://localhost/WSArtistBytesMusic/Artist.asmx"
        binding="basicHttpBinding" bindingConfiguration="ArtistSoap"
        contract="ServiceReferenceArtist.ArtistSoap" name="ArtistSoap" />
      <endpoint address="http://localhost/WSCatalogBytesMusic/Catalog.asmx"
        binding="basicHttpBinding" bindingConfiguration="CatalogSoap"
        contract="ServiceReferenceCatalog.CatalogSoap" name="CatalogSoap" />
      <endpoint address="http://localhost/WSArtistBytesMusic/Player.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlayerSoap"
        contract="ServiceReferencePlayer.PlayerSoap" name="PlayerSoap" />
      <endpoint address="http://localhost/WSPlaylistBytesMusic/Playlist.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlaylistSoap"
        contract="ServiceReferencePlaylist.PlaylistSoap" name="PlaylistSoap" />
      <endpoint address="http://localhost/WSPlaylistBytesMusic/PlaylistSong.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlaylistSongSoap"
        contract="ServiceReferencePlaylistSong.PlaylistSongSoap" name="PlaylistSongSoap" />
      <endpoint address="http://localhost/WSSongBytesMusic/Song.asmx"
        binding="basicHttpBinding" bindingConfiguration="SongSoap" contract="ServiceReferenceSong.SongSoap"
        name="SongSoap" />
      <endpoint address="http://localhost/WSAlbumBytesMusic/Tracklist.asmx"
        binding="basicHttpBinding" bindingConfiguration="TracklistSoap"
        contract="ServiceReferenceTracklist.TracklistSoap" name="TracklistSoap" />
      <endpoint address="http://localhost/WSUserBytesMusic/User.asmx"
        binding="basicHttpBinding" bindingConfiguration="UserSoap" contract="ServiceReferenceUser.UserSoap"
        name="UserSoap" />
    </client>
  </system.serviceModel>
</configuration>